
*.json
BoschProject/VRBorsch_03/Saved/Autosaves/Game/BoschVR/Maps/BVR_Level1_Auto1.umap
BoschProject/VRBorsch_03/Saved/Autosaves/Game/BoschVR/Maps/BVR_Level1_Auto2.umap
BoschProject/VRBorsch_03/Saved/Autosaves/Game/BoschVR/Maps/BVR_Level1_Auto3.umap
BoschProject/VRBorsch_03/Saved/Autosaves/PackageRestoreData.json
BoschProject/VRBorsch_03/Saved/AutoScreenshot.png
BoschProject/VRBorsch_03/Saved/Config/CrashReportClient/UECC-Windows-9FC1A74B4A58DDC0C7EDDF9E24E01B59/CrashReportClient.ini
BoschProject/VRBorsch_03/Saved/Config/CrashReportClient/UECC-Windows-D174E10E466A4F572270049043BFEFD6/CrashReportClient.ini
BoschProject/VRBorsch_03/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
BoschProject/VRBorsch_03/Saved/Config/WindowsEditor/Engine.ini
BoschProject/VRBorsch_03/Saved/Crashes/UECC-Windows-9FC1A74B4A58DDC0C7EDDF9E24E01B59_0000/CrashContext.runtime-xml
BoschProject/VRBorsch_03/Saved/Crashes/UECC-Windows-9FC1A74B4A58DDC0C7EDDF9E24E01B59_0000/CrashReportClient.ini
BoschProject/VRBorsch_03/Saved/Crashes/UECC-Windows-9FC1A74B4A58DDC0C7EDDF9E24E01B59_0000/UEMinidump.dmp
BoschProject/VRBorsch_03/Saved/Crashes/UECC-Windows-9FC1A74B4A58DDC0C7EDDF9E24E01B59_0000/VRBOCSH.log
BoschProject/VRBorsch_03/Saved/Crashes/UECC-Windows-D174E10E466A4F572270049043BFEFD6_0000/CrashContext.runtime-xml
BoschProject/VRBorsch_03/Saved/Crashes/UECC-Windows-D174E10E466A4F572270049043BFEFD6_0000/CrashReportClient.ini
BoschProject/VRBorsch_03/Saved/Crashes/UECC-Windows-D174E10E466A4F572270049043BFEFD6_0000/UEMinidump.dmp
BoschProject/VRBorsch_03/Saved/Crashes/UECC-Windows-D174E10E466A4F572270049043BFEFD6_0000/VRBOCSH.log
BoschProject/VRBorsch_03/Saved/Logs/VRBOCSH-backup-2023.04.11-08.41.08.log
BoschProject/VRBorsch_03/Saved/Logs/VRBOCSH-backup-2023.04.11-09.28.45.log
BoschProject/VRBorsch_03/Saved/Logs/VRBOCSH.log
BoschProject/VRBorsch_03/Saved/Autosaves/Game/BoschVR/Maps/BVR_Level1_Auto1.umap
BoschProject/VRBorsch_03/Saved/Autosaves/PackageRestoreData.json
BoschProject/VRBorsch_03/Saved/AutoScreenshot.png
BoschProject/VRBorsch_03/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
BoschProject/VRBorsch_03/Saved/Config/WindowsEditor/Engine.ini
BoschProject/VRBorsch_03/Saved/Logs/VRBOCSH.log
